.user-card-wrapper img{
    width: 100px;
    height: 100px;
}

.appBt {
    margin-right: 5px;
    background-color: deepskyblue;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

.footer-wrapper {
    text-align: center;
}

.app >*{
    /*margin: 0;*/
    padding: 1px;
    /*border: 1px solid transparent;*/
    /*text-align: center;*/
}